extends ../screens/layout.pug

block content-wrapper
    .col-md-6.col-xxl-4.mx-auto.py-3.token-bg.text-center

        block content
            .row 
                .col-12
                    .p-3.token-bg 
                        h1 Coming Soon!
                        p This screen is still in progress. Check back later.