extends ../screens/layout.pug

block content-wrapper
    .col-lg-7.mx-auto.py-3.token-bg
        include ../components/screen-title.pug

        block content
            include ../components/claim-detail.pug