extends ../screens/layout.pug
    
block content
      
    .row 
        .col-12
            p Please input your email address and create a 4 digit passcode. Password reset instructions will be sent to your email address. Remember the passcode you created. You will need it to complete your password reset.
    .row
        .col-12
            include ../components/forms/form-forgot-password.pug