extends ../screens/layout.pug
    
block content 
    .row 
        .col-12
            p If you entered a registered email address, then an email with instructions on how to reset your password has been sent to the address provided. The instructions in the email are only valid for the next two hours. Please reset your password as soon as you receive the email.
    .row
        .col-12.mb-3
            a.btn.btn-primary.w-100(href="./login.html") Back to Login