extends ../screens/layout.pug

block content-wrapper
    .col-12.mx-auto.py-3.token-bg
        block content
            .container
                include ../components/shopping-navbar.pug
                