footer
    .container-fluid
        .row.bg-light.small 
            .col-12.text-center
                ul.nav.justify-content-center.footer-nav
        .row.bg-warning
                .col-12.py-3
                    small.d-block.text-center Copyright &copy; 2021 RewardTrax.com