header
    .container-fluid
        .row.bg-warning
            .col-4.col-sm-2.py-2.mx-auto
                img#program-logo.img-fluid(src="", alt="")
        .row
            .col-12.bg-light
                nav.navbar.navbar-expand-lg.navbar-light
                    .container-fluid
                        button.ms-auto.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#header-nav' aria-controls='header-nav' aria-expanded='false' aria-label='Toggle navigation')
                            span.navbar-toggler-icon
                        #header-nav.collapse.navbar-collapse
                            ul.navbar-nav.mx-auto.mb-2.mb-lg-0.justify-content-center.header-nav
                                //- li.nav-item
                                //-     a.nav-link.active(aria-current='page' href='#') Home