-var title = "Screen Title"
-var subtitle = "Default Subtitle"
.row.pb-3
    .col-12.text-center
        .screen-title-bg.py-3
            h1#screen-title= title
            p.lead#screen-byline.mb-0= subtitle