form#form-forgot-password
    .row.mb-3
        .col-12
            label.form-label(for='emailPopup' required) Email address
            input#emailPopup.form-control(type='email' aria-describedby='emailHelp')
            
    .row.mb-3
        .col-6
            label.form-label(for='passwordPopup') Create 4 Digit Passcode:
            input#passwordPopup.form-control(type='password' required)
    a.btn.btn-primary.w-100(href='./forgot-password-confirmation.html') Reset Password