form#form-login
    .mb-3
        label.form-label(for='email') Email address
        input#email.form-control.loginusername(type='email' aria-describedby='emailHelp' required)
        
    .mb-3
        label.form-label(for='password' required) Password
        input#password.loginpassword.form-control(type='password')
    .mb-3
        a(href="/dist/screens/forgot-password.html") Forgot Password?
    button#cmdSubmit.loginbutton.btn.btn-primary.w-100(type='submit') Login