form#form-login
    .mb-3
        label.form-label(for='exampleInputEmail1') Email address
        input#exampleInputEmail1.form-control(type='email' aria-describedby='emailHelp')
        
    .mb-3
        label.form-label(for='exampleInputPassword1') Password
        input#exampleInputPassword1.form-control(type='password')
    .mb-3
        a(href="/dist/screens/forgot-password.html") Forgot Password?
    button.btn.btn-primary.w-100(type='submit') Login