form#form-forgot-password
    .row.mb-3
        .col-12
            label.form-label(for='exampleInputEmail1') Email address
            input#exampleInputEmail1.form-control(type='email' aria-describedby='emailHelp')
            
    .row.mb-3
        .col-6
            label.form-label(for='exampleInputPassword1') Create 4 Digit Passcode:
            input#exampleInputPassword1.form-control(type='password')
    a.btn.btn-primary.w-100(href='./forgot-password-confirmation.html') Reset Password